<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <hr/>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="bank.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Accounts</h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left" ng-show="!results.length">
            <h1 class="h1">Nothing to show!</h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left" ng-repeat="result in results">
            <img src="{{result.get('pic').url()}}" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/profile/{{result.id}}">{{result.get('username')}}</a></h1>
        </div>
    </div>
</div>
