<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <hr/>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="bank.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/accounts" class="aa">Accounts</a></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="paper-plane.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h3 h1"><h1 class="h1"><a href=".#!/transfers" class="aa">Transfers</a></h1></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="money.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/payments" class="aa">Payments&nbsp;</a></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="coins.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/loans" class="aa">Loans&nbsp;</a></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="profits.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/creditCards" class="aa">Credit Card</a></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="worldwide.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href=".#!/services" class="aa">Services&nbsp;</a></h1>
        </div>
    </div>
</div>
