<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <hr/>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="bank.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href="index(1).html" class="aa">Accounts</a></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="paper-plane.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h3 h1"><h1 class="h1"><a href="transfers.html" class="aa">Transfers</a></h1></h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="money.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Payments</h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="coins.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Loans&nbsp;</h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="profits.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Credit Card</h1>
        </div>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <hr/>
            <img src="worldwide.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1"><a href="services.html" class="aa">Services&nbsp;</a></h1>
        </div>
    </div>
</div>
