<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <hr/>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="money.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Payments</h1>
        </div>
    </div>
</div>
<div class="copyright-bar bg-black" wp-cz-section="blocks_copyright_1" wp-cz-section-title="Copyright 1">
    <div class="container">
        <h1><h1 class="white log">Payments Log for 1,March 2016</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
    <div class="container">
        <h1><h1 class="h2 white">20$ for Electrical Corp.</h1></h1>
    </div>
</div>
