<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <hr/>
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="money.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Payments</h1>
        </div>
    </div>
    <a href=".#!/newPayment">new Payment</a>
</div>
<div class="copyright-bar bg-black">
    <div class="container">
        <h1 class="white log">Payments Log</h1>
    </div>
    <div class="container" ng-show="!results.length">
        <h1 class="h2 white">Nothing to show</h1>
    </div>
    <div class="container" ng-repeat="result in results">
        <h1 class="h2 white">{{result.get('amount')}}$ for {{result.get('for')}}&nbsp;&nbsp;at
            {{result.get('createdAt').toUTCString()}}</h1>
    </div>
</div>
