<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="worldwide.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Services&nbsp;</h1>
        </div>
    </div>
</div>
<hr/>
<section class="content-block team-2 team-2-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="td-amazon-smile-logo-01-large.jpg" class="img-responsive img-responsivee"
                             alt="Member Image" wp-the-post-thumbnail="large">
                        <div class="image-overlay"></div>
                        <a href="https://www.amazon.com" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="Screen-Shot-2015-05-06-at-14.10.31-310x358.png"
                             class="img-responsive imgg img-responsivee" alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="http://www.ebay.com" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop-skip>
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="souq-logo-v2.png" class="img-responsive img-responsivee"
                             alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="http://souq.com" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop-skip>
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="jumia-logo-xmasl(2)-new.gif" class="img-responsive img-responsivee"
                             alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="https://www.jumia.com.eg" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
