<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="worldwide.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h1">Services&nbsp;</h1>
        </div>
    </div>
</div>
<hr/>
<section class="content-block team-2 team-2-2" wp-cz-section="blocks_team_2_2" wp-cz-section-title="Team 2-2"
         wp-cz-control="blocks_team_2_2_source" wp-cz-control-label="Content source" wp-cz-control-type="custom"
         wp-cz-control-type-custom="WP_BlocksContentDropdown_Customize_Control" wp-cz-control-section="blocks_team_2_2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop="blocks" wp-loop-clear-columns
                 wp-loop-post_parent="get_theme_mod('blocks_team_2_2_source')" wp-loop-post-type-custom="blocks_content"
                 wp-loop-post-status="publish" wp-loop-nopaging="true" wp-loop-order="ASC" wp-loop-orderby="menu_order">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="td-amazon-smile-logo-01-large.jpg" class="img-responsive img-responsivee"
                             alt="Member Image" wp-the-post-thumbnail="large">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link" wp-meta-value wp-meta-value-set="attr"
                           wp-meta-value-set-attr="href" wp-meta-value-key="link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop-skip>
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="Screen-Shot-2015-05-06-at-14.10.31-310x358.png"
                             class="img-responsive imgg img-responsivee" alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop-skip>
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="td-amazon-smile-logo-01-large.jpg" class="img-responsive img-responsivee"
                             alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 team-wrapper" wp-loop-skip>
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="Screen-Shot-2015-05-06-at-14.10.31-310x358.png" class="img-responsive img-responsivee"
                             alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
