<div class="container">
    <form ng-submit="signup()">
        <input type="file" id="pic">
        <input type="text" placeholder="Username" ng-model="username">
        <input type="text" placeholder="Full Name" ng-model="fullname">
        <textarea placeholder="Address" ng-model="address" cols="30" rows="10"></textarea>
        <input type="email" placeholder="Email" ng-model="email">
        <input type="password" placeholder="Password" ng-model="password">
        <select ng-options="accounts.indexOf(account) as account.get
         ('name') for account in accounts" ng-model="accountType"></select>
        <input type="text" placeholder="Parent(username)" ng-model="parent">
        <input type="submit" value="Signup">
    </form>
    <a href=".#!/login">login</a>
</div>
