<div class="container">
    <div class="row row-offcanvas row-offcanvas-left ">
        <div class="col-xs-12 col-sm-9 hvr-underline-from-left">
            <img src="paper-plane.png" class="img-responsive imga hvr-float-shadow">
            <h1 class="h3 h1"><h1 class="h1">Transfers</h1></h1>
        </div>
    </div>

</div>
<section class="content-block team-2 team-2-1" wp-cz-section="blocks_team_2_1" wp-cz-section-title="Team 2-1"
         wp-cz-control="blocks_team_2_1_source" wp-cz-control-label="Content source" wp-cz-control-type="custom"
         wp-cz-control-type-custom="WP_BlocksContentDropdown_Customize_Control" wp-cz-control-section="blocks_team_2_1">
    <div class="container container-transfers">
        <div class="underlined-title">
            <hr>
        </div>
        <div class="row">
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text">450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box hvr-reveal">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="content-2-10" class="content-2-10 content-block" wp-cz-section="blocks_content_2_10"
                     wp-cz-section-title="Content 2-10">
                <div class="container bg-white border-box">
                    <div class="col-md-8 col-xs-12 pull-left">
                        <h2 wp-cz-control="blocks_content_2_10_text" wp-cz-control-label="Text"
                            wp-cz-control-type="textarea" wp-cz-control-section="blocks_content_2_10"
                            wp-cz-theme-mod="blocks_content_2_10_text"><h2 wp-cz-control="blocks_content_2_10_text"
                                                                           wp-cz-control-label="Text"
                                                                           wp-cz-control-type="textarea"
                                                                           wp-cz-control-section="blocks_content_2_10"
                                                                           wp-cz-theme-mod="blocks_content_2_10_text"
                                                                           style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                            450 $ from X to Y &nbsp; &nbsp;4:51 PM</h2></h2>
                    </div>
                    <div class="col-md-3 col-xs-12 pull-right">
                        <a href="#" class="btn btn-lg btn-info btn-block"
                           wp-cz-control="blocks_content_2_10_button_label" wp-cz-control-label="Button Label"
                           wp-cz-control-section="blocks_content_2_10"
                           wp-cz-theme-mod="blocks_content_2_10_button_label"
                           wp-cz-control-2="blocks_content_2_10_button_url" wp-cz-control-label-2="Button Link"
                           wp-cz-control-section-2="blocks_content_2_10"
                           wp-cz-theme-mod-attr="blocks_content_2_10_button_url" wp-cz-theme-mod-attr-set-attr="href">More
                            Info</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
